@import "tailwindcss";

:root {
  --background: oklch(19.35% 0.018 274.81);
  --foreground: #171717;
  --primary-background: oklch(19.35% 0.018 274.81);
  --card-color:oklch(22.47% 0.020 275.88);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-red-hat-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(19.35% 0.018 274.81);
    --foreground: #ededed;
    --primary-background: oklch(19.35% 0.018 274.81);
    --card-color:oklch(22.47% 0.020 275.88);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
